### Oitavas Sulamericana

In [33]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualização de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os números aparecerem com duas casas decimais

# Cria uma instância da API
api = cartolafc.Api(attempts=5)

### Dicionário com os IDs e Nomes dos times.

In [50]:
# Dicionário com ID -> Nome do time (gerado anteriormente)
nomes_por_id = {
   3914981: 'BORGES ITAQUI F.C.',
   20696550: 'Dom Camillo68',        
   17887202: 'HS SPORTS F.C',
   47543456: 'Tabajara de Inhaua FC2',     
   44810918: 'lsauer fc',
   479510: 'TEAM LOPES 99',  
   24468241: 'Grêmio imortal 37',
   212042: 'Tatols Beants F.C',      
   6148913: 'E.C. Bororé',
   528730: 'Gremiomaniasm',    
   25311459: 'FC Los Castilho',    
   13951133: 'KING LEONN',       
   159074: 'F.C. Rei Das Copas',
   18344271: 'Laranjja Mecannica',
   25751748: 'MauHumor F.C.',   
   18421230: 'Gig@ntte'
}

In [51]:
# Lista com todos os dados que você passou
dados_torneio = [
    # Jogo A
    ("Jogo A", 528730),
    ("Jogo A", 18421230),    
    # Jogo B
    ("Jogo B", 3914981),
    ("Jogo B", 13951133),
    # Jogo C                        
    ("Jogo C", 212042),
    ("Jogo C", 18344271),
    # Jogo D
    ("Jogo D", 24468241),
    ("Jogo D", 20696550),
    # Jogo E
    ("Jogo E", 159074),
    ("Jogo E", 25751748),
    # Jogo F
    ("Jogo F", 17887202),
    ("Jogo F", 479510),
    # Jogo G
    ("Jogo G", 25311459),
    ("Jogo G", 47543456),
    # Jogo H
    ("Jogo H", 6148913),
    ("Jogo H", 44810918),
    
]

# Criar DataFrame base
df_torneio = pd.DataFrame(dados_torneio, columns=["Jogo", "ID do Time"])

# Adicionar Nome do Time usando o dicionário
df_torneio["Nome do Time"] = df_torneio["ID do Time"].map(nomes_por_id)

# Adicionar ID do Jogo
df_torneio["ID do Jogo"] = df_torneio.groupby("Jogo").cumcount() + 1
df_torneio["ID do Jogo"] = df_torneio["ID do Jogo"].astype(str) + "_" + df_torneio["Jogo"].str[-1]


# Reorganizar colunas
df_torneio = df_torneio[["Jogo", "ID do Time", "Nome do Time", "ID do Jogo"]]

df_sula_jogo_A = df_torneio[df_torneio["Jogo"] == "Jogo A"]
df_sula_jogo_B = df_torneio[df_torneio["Jogo"] == "Jogo B"]
df_sula_jogo_C = df_torneio[df_torneio["Jogo"] == "Jogo C"]
df_sula_jogo_D = df_torneio[df_torneio["Jogo"] == "Jogo D"]
df_sula_jogo_E = df_torneio[df_torneio["Jogo"] == "Jogo E"]
df_sula_jogo_F = df_torneio[df_torneio["Jogo"] == "Jogo F"]
df_sula_jogo_G = df_torneio[df_torneio["Jogo"] == "Jogo G"]
df_sula_jogo_H = df_torneio[df_torneio["Jogo"] == "Jogo H"]

# Lista de jogos
jogos = {
    "Jogo A": df_sula_jogo_A,
    "Jogo B": df_sula_jogo_B,
    "Jogo C": df_sula_jogo_C,
    "Jogo D": df_sula_jogo_D,
    "Jogo E": df_sula_jogo_E,
    "Jogo F": df_sula_jogo_F,
    "Jogo G": df_sula_jogo_G,
    "Jogo H": df_sula_jogo_H
}

display(df_sula_jogo_H)

      Jogo  ID do Time Nome do Time ID do Jogo
14  Jogo H     6148913  E.C. Bororé        1_H
15  Jogo H    44810918    lsauer fc        2_H

### Jogos das Oitavas de Final da Sulamericana

In [36]:
# Rodada 13 - Fase 1 Sulamericana (Equivalente a 13º Rodada do Campeonato Brasileiro) 
confrontos_13a_rodada = [
    # Jogo A
    ("Jogo A", "1_A", "2_A"),
    # Jogo B
    ("Jogo B", "1_B", "2_B"),
    # Jogo C
    ("Jogo C", "1_C", "2_C"),
    # Jogo D
    ("Jogo D", "1_D", "2_D"),
    # Jogo E
    ("Jogo E", "1_E", "2_E"),
    # Jogo F
    ("Jogo F", "1_F", "2_F"),
    # Jogo G
    ("Jogo G", "1_G", "2_G"),
    # Jogo H
    ("Jogo H", "1_H", "2_H")    
]

# Rodada 14 - Fase 1 Sulamericana (Equivalente a 14º Rodada do Campeonato Brasileiro) 
confrontos_14a_rodada = [
    # Jogo A
    ("Jogo A", "2_A", "1_A"),
    # Jogo B
    ("Jogo B", "2_B", "1_B"),
    # Jogo C
    ("Jogo C", "2_C", "1_C"),
    # Jogo D
    ("Jogo D", "2_D", "1_D"),
    # Jogo E
    ("Jogo E", "2_E", "1_E"),
    # Jogo F
    ("Jogo F", "2_F", "1_F"),
    # Jogo G
    ("Jogo G", "2_G", "1_G"),
    # Jogo H
    ("Jogo H", "2_H", "1_H")    
]

In [52]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_13a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])

# Junta com df_torneio para buscar dados dos mandantes
df_mandantes = df_torneio.rename(columns={
    "ID do Jogo": "Mandante_ID",
    "Nome do Time": "Mandante_Nome",
    "ID do Time": "Mandante_ID_Time"
})[["Jogo", "Mandante_ID", "Mandante_Nome", "Mandante_ID_Time"]]

# Junta com df_torneio para buscar dados dos visitantes
df_visitantes = df_torneio.rename(columns={
    "ID do Jogo": "Visitante_ID",
    "Nome do Time": "Visitante_Nome",
    "ID do Time": "Visitante_ID_Time"    
})[["Jogo", "Visitante_ID", "Visitante_Nome", "Visitante_ID_Time"]]

display(df_confrontos)

     Jogo Mandante_ID Visitante_ID
0  Jogo A         1_A          2_A
1  Jogo B         1_B          2_B
2  Jogo C         1_C          2_C
3  Jogo D         1_D          2_D
4  Jogo E         1_E          2_E
5  Jogo F         1_F          2_F
6  Jogo G         1_G          2_G
7  Jogo H         1_H          2_H

In [38]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_13a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])
df_confrontos["Rodada"] = 13  # <<< ADICIONAR ESTA LINHA
df_rodada_13 = df_confrontos.merge(df_mandantes, on=["Jogo", "Mandante_ID"])
df_rodada_13 = df_rodada_13.merge(df_visitantes, on=["Jogo", "Visitante_ID"])


# Transformar em DataFrame
df_confrontos_14 = pd.DataFrame(confrontos_14a_rodada, columns=["Jogo", "Mandante_ID", "Visitante_ID"])
df_confrontos_14["Rodada"] = 14
df_rodada_14 = df_confrontos_14.merge(df_mandantes, on=["Jogo", "Mandante_ID"])
df_rodada_14 = df_rodada_14.merge(df_visitantes, on=["Jogo", "Visitante_ID"])

display(df_rodada_13)

,Jogo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Jogo A,1_A,2_A,13,Gremiomaniasm,528730,Gig@ntte,18421230
1,Jogo B,1_B,2_B,13,BORGES ITAQUI F.C.,3914981,KING LEONN,13951133
2,Jogo C,1_C,2_C,13,Tatols Beants F.C,212042,Laranjja Mecannica,18344271
3,Jogo D,1_D,2_D,13,Grêmio imortal 37,24468241,Dom Camillo68,20696550
4,Jogo E,1_E,2_E,13,F.C. Rei Das Copas,159074,MauHumor F.C.,25751748
5,Jogo F,1_F,2_F,13,HS SPORTS F.C,17887202,TEAM LOPES 99,479510
6,Jogo G,1_G,2_G,13,FC Los Castilho,25311459,Tabajara de Inhaua FC2,47543456
7,Jogo H,1_H,2_H,13,E.C. Bororé,6148913,lsauer fc,44810918

In [53]:
df_rodadas = pd.concat([
    df_rodada_13,
    df_rodada_14,
], ignore_index=True)

# Ajustar a numeração da rodada para refletir as rodadas do Cartola (Rodada 7 até 12)
df_rodadas["Rodada"] = df_rodadas["Rodada"]  # Ex: 1 -> 13, 2 -> 14

df_rodadas.to_excel("confrontos_oitavas_sula.xlsx", index=False)

# Exibir os confrontos da fase 1
display(df_rodadas.head(20))

,Jogo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Jogo A,1_A,2_A,13,Gremiomaniasm,528730,Gig@ntte,18421230
1,Jogo B,1_B,2_B,13,BORGES ITAQUI F.C.,3914981,KING LEONN,13951133
2,Jogo C,1_C,2_C,13,Tatols Beants F.C,212042,Laranjja Mecannica,18344271
3,Jogo D,1_D,2_D,13,Grêmio imortal 37,24468241,Dom Camillo68,20696550
4,Jogo E,1_E,2_E,13,F.C. Rei Das Copas,159074,MauHumor F.C.,25751748
5,Jogo F,1_F,2_F,13,HS SPORTS F.C,17887202,TEAM LOPES 99,479510
6,Jogo G,1_G,2_G,13,FC Los Castilho,25311459,Tabajara de Inhaua FC2,47543456
7,Jogo H,1_H,2_H,13,E.C. Bororé,6148913,lsauer fc,44810918
8,Jogo A,2_A,1_A,14,Gig@ntte,18421230,Gremiomaniasm,528730
9,Jogo B,2_B,1_B,14,KING LEONN,13951133,BORGES ITAQUI F.C.,3914981
10,Jogo C,2_C,1_C,14,Laranjja Mecannica,18344271,Tatols Beants F.C,212042
11,Jogo D,2_D,1_D,14,Dom Camillo68,20696550,Grêmio imortal 37,24468241
12,Jogo E,2_E,1_E,14,MauHumor F.C.,25751748,F.C. Rei Das Copas,159074
13,Jogo F,2_F,1_F,14,TEAM LOPES 99,479510,HS SPORTS F.C,17887202
14,Jogo G,2_G,1_G,14,Tabajara de Inhaua FC2,47543456,FC Los Castilho,25311459
15,Jogo H,2_H,1_H,14,lsauer fc,44810918,E.C. Bororé,6148913

In [54]:
# Criar lista de dicionários no formato desejado
confrontos_js_oitavas_sula = []

for _, row in df_rodadas.iterrows():
    confronto = {
        "jogo": row["Jogo"],
        "rodada": int(row["Rodada"]),
        "mandante": {
            "id": int(row["Mandante_ID_Time"]),
            "nome": row["Mandante_Nome"]
        },
        "visitante": {
            "id": int(row["Visitante_ID_Time"]),
            "nome": row["Visitante_Nome"]
        }
    }
    confrontos_js_oitavas_sula.append(confronto)

# Converter para JSON formatado
json_str = json.dumps(confrontos_js_oitavas_sula, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variável global
with open("confrontos_oitavas_sula.js", "w", encoding="utf-8") as f:
    f.write("const confrontos_oitavas_sula = ")
    f.write(json_str)
    f.write(";")

In [56]:
def exibir_confrontos(df_rodadas, rodada=None, jogo=None):
    """
    Filtra e exibe os confrontos por rodada e/ou grupo.
    
    Parâmetros:
    - df_rodadas: DataFrame com todos os confrontos
    - rodada: número da rodada (int ou None para todas)
    - grupo: nome do grupo (str ou None para todos)
    
    Retorna:
    - DataFrame filtrado com as colunas relevantes
    """    
    colunas = ["Rodada", "Jogo", "Mandante_ID_Time", "Mandante_Nome", "Visitante_ID_Time", "Visitante_Nome"]
    df_filtrado = df_rodadas.copy()

    df_filtrado["Rodada"] = df_filtrado["Rodada"].astype(str) + "ª Rodada"    

    if rodada is not None:
        df_filtrado = df_filtrado[df_filtrado["Rodada"] == rodada]

    if jogo is not None:
        df_filtrado = df_filtrado[df_filtrado["Jogo"] == jogo]

    return df_filtrado[colunas].sort_values(by=["Jogo", "Rodada"])

In [57]:
# Exibir todos os confrontos do Grupo A
display(exibir_confrontos(df_rodadas, jogo="Jogo A").head())

,Rodada,Jogo,Mandante_ID_Time,Mandante_Nome,Visitante_ID_Time,Visitante_Nome
0,13ª Rodada,Jogo A,528730,Gremiomaniasm,18421230,Gig@ntte
8,14ª Rodada,Jogo A,18421230,Gig@ntte,528730,Gremiomaniasm

In [58]:
def campeonato_comecou(api, ids_times):
    """Verifica se o campeonato já começou observando a pontuação na 1ª rodada."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=13).ultima_pontuacao
            if pontuacao is not None:
                return True
        except cartolafc.errors.CartolaFCError:
            continue
    return False

def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
    """Obtém a pontuação do time em cada rodada até a rodada atual."""
    pontuacoes = {}
    for rodada in range(13, rodada_atual):
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except cartolafc.errors.CartolaFCError as e:
            print(f"Erro ao acessar pontuação da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes


def gerar_df_pontuacoes(api, ids_times):
    rodada_atual = api.mercado().rodada_atual
    total_rodadas = 2

    if not campeonato_comecou(api, ids_times):
        print("📌 O campeonato ainda não começou. Criando estrutura com placeholders.")
        df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(13, total_rodadas + 1)])
        df[:] = 0
    else:
        df = pd.DataFrame()
        for nome, time_id in ids_times.items():
            pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
            df[nome] = pd.Series(pontuacoes)
        df = df.transpose()
        df.columns = [f'Rodada {i}' for i in range(13, rodada_atual)]
        df.loc['Lider_Rodada'] = df.idxmax()
    
    return df

In [59]:
ids_times = {v: k for k, v in nomes_por_id.items()}

df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
display(df_pontuacoes.T)

,BORGES ITAQUI F.C.,Dom Camillo68,HS SPORTS F.C,Tabajara de Inhaua FC2,lsauer fc,TEAM LOPES 99,Grêmio imortal 37,Tatols Beants F.C,E.C. Bororé,Gremiomaniasm,FC Los Castilho,KING LEONN,F.C. Rei Das Copas,Laranjja Mecannica,MauHumor F.C.,Gig@ntte,Lider_Rodada
Rodada 13,105.91,108.22,113.51,133.44,117.11,120.87,133.05,79.41,117.51,67.91,120.01,114.76,64.40,121.01,117.47,116.91,Tabajara de Inhaua FC2

In [60]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes):

    # ✅ Remover o 'Lider_Rodada' do DataFrame de pontuações
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')

    estatisticas = {}

    for _, confronto in df_rodadas.iterrows():
        rodada = confronto["Rodada"]
        mandante = confronto["Mandante_Nome"]
        visitante = confronto["Visitante_Nome"]
        jogo = confronto["Jogo"]
        coluna_rodada = f"Rodada {rodada}"

        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
            continue

        for time in [mandante, visitante]:
            if jogo not in estatisticas:
                estatisticas[jogo] = {}
            if time not in estatisticas[jogo]:
                estatisticas[jogo][time] = {
                    "Pontos": 0, "Vitórias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": 0, "Cartola_Sofrido": 0
                }

        # Atualizar estatísticas
        estatisticas[jogo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[jogo][mandante]["Cartola_Sofrido"] += pontos_visitante

        estatisticas[jogo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[jogo][visitante]["Cartola_Sofrido"] += pontos_mandante

        if pontos_mandante > pontos_visitante:
            estatisticas[jogo][mandante]["Pontos"] += 3
            estatisticas[jogo][mandante]["Vitórias"] += 1
            estatisticas[jogo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[jogo][visitante]["Pontos"] += 3
            estatisticas[jogo][visitante]["Vitórias"] += 1
            estatisticas[jogo][mandante]["Derrotas"] += 1
        else:
            estatisticas[jogo][mandante]["Pontos"] += 1
            estatisticas[jogo][visitante]["Pontos"] += 1
            estatisticas[jogo][mandante]["Empates"] += 1
            estatisticas[jogo][visitante]["Empates"] += 1

    # ✅ Calcular Total Geral apenas para times válidos
    total_geral = df_pontuacoes_times.sum(axis=1)

    # Montar DataFrame final
    df_resultado = pd.concat([
        pd.DataFrame({
            "Jogo": jogo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "Vitórias": [stats["Vitórias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [
                stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ],
            "Total Geral": [
                total_geral.get(nome, 0) for nome in times.keys()
            ]
        })
        for jogo, times in estatisticas.items()
    ], ignore_index=True)

    df_resultado = df_resultado.sort_values(
        by=["Jogo", "Pontos", "Vitórias", "Total Cartola", "Saldo Cartola"],
        ascending=[True, False, False, False, False]
    )

    df_resultado["Posição"] = df_resultado.groupby("Jogo").cumcount() + 1

    df_resultado_por_grupo = {
        grupo: df_resultado[df_resultado["Jogo"] == grupo] for grupo in df_resultado["Jogo"].unique()
    }

    return df_resultado, df_resultado_por_grupo

In [61]:
# Padroniza os nomes no df_rodadas
df_rodadas["Mandante_Nome"] = df_rodadas["Mandante_Nome"].str.strip()
df_rodadas["Visitante_Nome"] = df_rodadas["Visitante_Nome"].str.strip()

# Padroniza os índices do df_pontuacoes
df_pontuacoes.index = df_pontuacoes.index.str.strip()

# Exibe para conferência
display(df_pontuacoes)

                                     Rodada 13
BORGES ITAQUI F.C.                      105.91
Dom Camillo68                           108.22
HS SPORTS F.C                           113.51
Tabajara de Inhaua FC2                  133.44
lsauer fc                               117.11
TEAM LOPES 99                           120.87
Grêmio imortal 37                       133.05
Tatols Beants F.C                        79.41
E.C. Bororé                             117.51
Gremiomaniasm                            67.91
FC Los Castilho                         120.01
KING LEONN                              114.76
F.C. Rei Das Copas                       64.40
Laranjja Mecannica                      121.01
MauHumor F.C.                           117.47
Gig@ntte                                116.91
Lider_Rodada            Tabajara de Inhaua FC2

In [48]:
# def classificacao_por_grupo(df_rodadas, df_pontuacoes, pontuacao_total_anterior=None):
#     """
#     Classificação dos grupos com base nos confrontos e nas pontuações do Cartola.

#     Retorna:
#     - df_resultado: classificação geral
#     - df_resultado_por_grupo: dicionário com classificação separada por grupo
#     """
#     df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
#     estatisticas = {}

#     for _, confronto in df_rodadas.iterrows():
#         rodada = confronto["Rodada"]
#         mandante = confronto["Mandante_Nome"]
#         visitante = confronto["Visitante_Nome"]
#         jogo = confronto["Jogo"]
#         coluna_rodada = f"Rodada {rodada}"

#         if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
#             continue
#         if coluna_rodada not in df_pontuacoes_times.columns:
#             continue

#         pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
#         pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

#         if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
#             continue

#         for time in [mandante, visitante]:
#             if jogo not in estatisticas:
#                 estatisticas[jogo] = {}
#             if time not in estatisticas[jogo]:
#                 estatisticas[jogo][time] = {
#                     "Pontos": 0, "Vitórias": 0, "Empates": 0, "Derrotas": 0,
#                     "Total_Cartola": 0, "Cartola_Sofrido": 0
#                 }

#         # Atualizar estatísticas do jogo
#         estatisticas[jogo][mandante]["Total_Cartola"] += pontos_mandante
#         estatisticas[jogo][mandante]["Cartola_Sofrido"] += pontos_visitante

#         estatisticas[jogo][visitante]["Total_Cartola"] += pontos_visitante
#         estatisticas[jogo][visitante]["Cartola_Sofrido"] += pontos_mandante

#         if pontos_mandante > pontos_visitante:
#             estatisticas[jogo][mandante]["Pontos"] += 3
#             estatisticas[jogo][mandante]["Vitórias"] += 1
#             estatisticas[jogo][visitante]["Derrotas"] += 1
#         elif pontos_mandante < pontos_visitante:
#             estatisticas[jogo][visitante]["Pontos"] += 3
#             estatisticas[jogo][visitante]["Vitórias"] += 1
#             estatisticas[jogo][mandante]["Derrotas"] += 1
#         else:
#             estatisticas[jogo][mandante]["Pontos"] += 1
#             estatisticas[jogo][visitante]["Pontos"] += 1
#             estatisticas[jogo][mandante]["Empates"] += 1
#             estatisticas[jogo][visitante]["Empates"] += 1

#     # Montar DataFrame final
#     df_resultado = pd.concat([
#         pd.DataFrame({
#             "Jogo": jogo,
#             "Nome do Time": list(times.keys()),
#             "Pontos": [stats["Pontos"] for stats in times.values()],
#             "Vitórias": [stats["Vitórias"] for stats in times.values()],
#             "Empates": [stats["Empates"] for stats in times.values()],
#             "Derrotas": [stats["Derrotas"] for stats in times.values()],
#             "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
#             "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
#             "Saldo Cartola": [
#                 stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
#             ],
#             "Total Geral": [
#                 stats["Total_Cartola"] + (pontuacao_total_anterior.get(nome, 0.0) if pontuacao_total_anterior else 0.0)
#                 for nome, stats in times.items()
#             ]
#         })
#         for jogo, times in estatisticas.items()
#     ], ignore_index=True)


#     df_resultado = df_resultado.sort_values(
#         by=["Jogo", "Pontos", "Vitórias", "Total Cartola", "Saldo Cartola"],
#         ascending=[True, False, False, False, False]
#     )

#     df_resultado["Posição"] = df_resultado.groupby("Jogo")\
#     .cumcount() + 1

#     df_resultado_por_grupo = {
#         grupo: df_resultado[df_resultado["Jogo"] == grupo] for grupo in df_resultado["Jogo"].unique()
#     }

#     return df_resultado, df_resultado_por_grupo

In [63]:
# Gerar a classificação da fase 1 sula
df_resultado, df_resultado_por_jogo = classificacao_por_grupo(df_rodadas, df_pontuacoes)

# Salvar cada grupo em uma aba do Excel
with pd.ExcelWriter("classificacao_por_jogo_oitavas_sula.xlsx") as writer:
    for jogo, df in df_resultado_por_jogo.items():
        df.to_excel(writer, sheet_name=jogo, index=False)

# Exibir a classificação geral
df_resultado_jogo_A = df_resultado[df_resultado["Jogo"] == "Jogo A"]
df_resultado_jogo_B = df_resultado[df_resultado["Jogo"] == "Jogo B"]
df_resultado_jogo_C = df_resultado[df_resultado["Jogo"] == "Jogo C"]
df_resultado_jogo_D = df_resultado[df_resultado["Jogo"] == "Jogo D"]
df_resultado_jogo_E = df_resultado[df_resultado["Jogo"] == "Jogo E"]
df_resultado_jogo_F = df_resultado[df_resultado["Jogo"] == "Jogo F"]
df_resultado_jogo_G = df_resultado[df_resultado["Jogo"] == "Jogo G"]
df_resultado_jogo_H = df_resultado[df_resultado["Jogo"] == "Jogo H"]

display(df_resultado_jogo_A, df_resultado_jogo_B, df_resultado_jogo_C, df_resultado_jogo_D, df_resultado_jogo_E, df_resultado_jogo_F, df_resultado_jogo_G, df_resultado_jogo_H)

,Jogo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,Posição
1,Jogo A,Gig@ntte,3,1,0,0,116.91,67.91,49.00,116.91,1
0,Jogo A,Gremiomaniasm,0,0,0,1,67.91,116.91,-49.00,67.91,2

,Jogo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,Posição
3,Jogo B,KING LEONN,3,1,0,0,114.76,105.91,8.85,114.76,1
2,Jogo B,BORGES ITAQUI F.C.,0,0,0,1,105.91,114.76,-8.85,105.91,2

,Jogo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,Posição
5,Jogo C,Laranjja Mecannica,3,1,0,0,121.01,79.41,41.60,121.01,1
4,Jogo C,Tatols Beants F.C,0,0,0,1,79.41,121.01,-41.60,79.41,2

,Jogo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,Posição
6,Jogo D,Grêmio imortal 37,3,1,0,0,133.05,108.22,24.83,133.05,1
7,Jogo D,Dom Camillo68,0,0,0,1,108.22,133.05,-24.83,108.22,2

,Jogo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,Posição
9,Jogo E,MauHumor F.C.,3,1,0,0,117.47,64.40,53.07,117.47,1
8,Jogo E,F.C. Rei Das Copas,0,0,0,1,64.40,117.47,-53.07,64.40,2

,Jogo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,Posição
11,Jogo F,TEAM LOPES 99,3,1,0,0,120.87,113.51,7.36,120.87,1
10,Jogo F,HS SPORTS F.C,0,0,0,1,113.51,120.87,-7.36,113.51,2

,Jogo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,Posição
13,Jogo G,Tabajara de Inhaua FC2,3,1,0,0,133.44,120.01,13.43,133.44,1
12,Jogo G,FC Los Castilho,0,0,0,1,120.01,133.44,-13.43,120.01,2

,Jogo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Total Geral,Posição
14,Jogo H,E.C. Bororé,3,1,0,0,117.51,117.11,0.40,117.51,1
15,Jogo H,lsauer fc,0,0,0,1,117.11,117.51,-0.40,117.11,2

In [65]:
# # Criar estrutura em formato de dicionário para JSON/JS
# classificacao_js = {}

# for grupo, df in df_resultado_por_jogo.items():
#     classificacao_js[grupo] = []
#     for _, row in df.iterrows():
#         classificacao_js[grupo].append({
#             "posicao": int(row["Posição"]),
#             "nome": row["Nome do Time"],
#             "pontos": int(row["Pontos"]),
#             "vitorias": int(row["Vitórias"]),
#             "empates": int(row["Empates"]),
#             "derrotas": int(row["Derrotas"]),
#             "totalCartola": float(row["Total Cartola"]),
#             "cartolaSofrido": float(row["Cartola Sofrido"]),
#             "saldoCartola": float(row["Saldo Cartola"]),
#             "totalGeral": float(row["Total Geral"])
#         })

# # Converter para JSON formatado
# json_str = json.dumps(classificacao_js, indent=2, ensure_ascii=False)

# # Salvar como arquivo JS com uma variável global
# with open("classificacao_por_jogo_oitavas_sula.js", "w", encoding="utf-8") as f:
#     f.write("const classificacaoFaseOitavas = ")
#     f.write(json_str)
#     f.write(";")
# _______________________________________________________

# Verifica se a variável df_resultado_por_grupo existe e está populada
if 'df_resultado_por_jogo' in locals() and df_resultado_por_jogo:
    # Criar estrutura em formato de dicionário para JSON/JS
    classificacao_js = {}

    for jogo, df in df_resultado_por_jogo.items():
        classificacao_js[jogo] = []
        for _, row in df.iterrows():
            classificacao_js[jogo].append({
                "posicao": int(row["Posição"]),
                "nome": row["Nome do Time"],
                "pontos": int(row["Pontos"]),
                "vitorias": int(row["Vitórias"]),
                "empates": int(row["Empates"]),
                "derrotas": int(row["Derrotas"]),
                "totalCartola": float(row["Total Cartola"]),
                "cartolaSofrido": float(row["Cartola Sofrido"]),
                "saldoCartola": float(row["Saldo Cartola"])
            })

    # Converter para JSON formatado
    json_str = json.dumps(classificacao_js, indent=2, ensure_ascii=False)

    # Salvar como arquivo JS com uma variável global
    with open("classificacao_por_jogo_oitavas_sula.js", "w", encoding="utf-8") as f:
        f.write("const classificacaoFaseOitavas = ")
        f.write(json_str)
        f.write(";")

    print("✅ Arquivo JS salvo com sucesso.")

else:
    print("⚠️ Classificação das Oitavas da Sula indisponível. O mercado pode estar em manutenção ou os dados ainda não foram gerados.")

✅ Arquivo JS salvo com sucesso.

In [66]:
def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, jogo=None):
    """
    Exibe os resultados de uma rodada específica, com pontuação e dados dos times.
    """

    if "Rodada" not in df_rodadas.columns:
        raise ValueError("O DataFrame df_rodadas precisa conter a coluna 'Rodada'.")

    if rodada not in df_rodadas["Rodada"].values:
        return pd.DataFrame([{
            "Jogo": jogo or "-",
            "Rodada": rodada,
            "Mandante_Nome": "-",
            "Mandante_Clube": "-",
            "Mandante_Participante": "-",
            "Mandante_Pontos": "-",
            "Visitante_Nome": "-",
            "Visitante_Clube": "-",
            "Visitante_Participante": "-",
            "Visitante_Pontos": "-",
        }])

    df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]
    if jogo:
        df_filtrado = df_filtrado[df_filtrado["Jogo"] == jogo]

    resultados = []

    for _, row in df_filtrado.iterrows():
        jogo_ = row["Jogo"]
        mandante = row["Mandante_Nome"]
        visitante = row["Visitante_Nome"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "Jogo": jogo_,
            "Rodada": rodada,
            "Mandante_Nome": mandante,
            "Mandante_Pontos": pontos_mandante,
            "Visitante_Nome": visitante,
            "Visitante_Pontos": pontos_visitante
        })

    return pd.DataFrame(resultados)

In [68]:
# Exibir resultados da 13ª rodada
df_resultados_rodada_13 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=13)

# Exibir apenas os resultados do Grupo B na 1ª rodada
df_resultados_jogo_B = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=13, jogo="Jogo B")

# Exibir
display(df_resultados_rodada_13)

,Jogo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Jogo A,13,Gremiomaniasm,67.91,Gig@ntte,116.91
1,Jogo B,13,BORGES ITAQUI F.C.,105.91,KING LEONN,114.76
2,Jogo C,13,Tatols Beants F.C,79.41,Laranjja Mecannica,121.01
3,Jogo D,13,Grêmio imortal 37,133.05,Dom Camillo68,108.22
4,Jogo E,13,F.C. Rei Das Copas,64.40,MauHumor F.C.,117.47
5,Jogo F,13,HS SPORTS F.C,113.51,TEAM LOPES 99,120.87
6,Jogo G,13,FC Los Castilho,120.01,Tabajara de Inhaua FC2,133.44
7,Jogo H,13,E.C. Bororé,117.51,lsauer fc,117.11

In [69]:
# Criar arquivo com uma aba para cada rodada contendo os resultados detalhados
from pathlib import Path

# Caminho do arquivo de saída
caminho_resultados = "resultados_oitavas_sula.xlsx"

# Descobrir as rodadas únicas no DataFrame
rodadas_disponiveis = sorted(df_rodadas["Rodada"].unique())

with pd.ExcelWriter(caminho_resultados) as writer:
    for rodada in rodadas_disponiveis:
        df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
        nome_aba = f"Rodada {rodada}"
        df_resultados.to_excel(writer, sheet_name=nome_aba, index=False)

print(f"Arquivo salvo com sucesso: {Path(caminho_resultados).resolve()}")

display(df_resultados)

Arquivo salvo com sucesso: C:\Users\ferna\Projetos\GitHub\cartola_fbc\sulamericana\datasets_sula\resultados_oitavas_sula.xlsx

,Jogo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Jogo A,14,Gig@ntte,None,Gremiomaniasm,None
1,Jogo B,14,KING LEONN,None,BORGES ITAQUI F.C.,None
2,Jogo C,14,Laranjja Mecannica,None,Tatols Beants F.C,None
3,Jogo D,14,Dom Camillo68,None,Grêmio imortal 37,None
4,Jogo E,14,MauHumor F.C.,None,F.C. Rei Das Copas,None
5,Jogo F,14,TEAM LOPES 99,None,HS SPORTS F.C,None
6,Jogo G,14,Tabajara de Inhaua FC2,None,FC Los Castilho,None
7,Jogo H,14,lsauer fc,None,E.C. Bororé,None

In [70]:
resultados_js = []

for rodada in sorted(df_rodadas["Rodada"].unique()):
    df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
    
    for _, row in df_resultados.iterrows():
        resultado = {
            "jogo": row["Jogo"],
            "rodada": int(rodada),
            "mandante": {
                "nome": row["Mandante_Nome"],
                # "participante": row["Mandante_Participante"],
                # "clube": row["Mandante_Clube"],
                "pontos": float(row["Mandante_Pontos"]) if row["Mandante_Pontos"] is not None else None
            },
            "visitante": {
                "nome": row["Visitante_Nome"],
                # "participante": row["Visitante_Participante"],
                # "clube": row["Visitante_Clube"],
                "pontos": float(row["Visitante_Pontos"]) if row["Visitante_Pontos"] is not None else None
            },
            "vencedor": (
                "mandante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] > row["Visitante_Pontos"]
                else "visitante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] < row["Visitante_Pontos"]
                else "empate" if row["Mandante_Pontos"] == row["Visitante_Pontos"] and row["Mandante_Pontos"] is not None
                else "indefinido"
            )

        }
        resultados_js.append(resultado)

# Exportar para arquivo .js
import json

with open("resultados_oitavas_sula.js", "w", encoding="utf-8") as f:
    f.write("const resultados_oitavas_sula = ")
    f.write(json.dumps(resultados_js, indent=2, ensure_ascii=False))
    f.write(";")