### FASE 2 da Libertadores

In [1]:
import cartolafc
import pandas as pd
from difflib import get_close_matches
import json

pd.set_option('display.max_columns', 50)            # permite a visualização de 50 colunas do dataframe
pd.options.display.float_format = '{:.2f}'.format   # pandas: para todos os números aparecerem com duas casas decimais

# Cria uma instância da API
api = cartolafc.Api(attempts=5)

2025-06-13 16:30:43,839 - numexpr.utils - INFO - NumExpr defaulting to 8 threads.

In [2]:
# Dicionário com ID -> Nome do time (gerado anteriormente)
nomes_por_id = {
    20696550: 'Dom Camillo68', 
    44810918: 'lsauer fc',
    44574236: 'Analove10 ITAQUI GRANDE!!',
    13707047: 'Super Vasco f.c',

    47543456: 'Tabajara de Inhaua FC2',
    18661583: 'pura bucha /botafogo',
    1273719: 'Texas Club 2025',
    479510: 'TEAM LOPES 99',

    3246608: 'Real SCI',
    50158297: 'Lá do Itaqui',
    13951133: 'KING LEONN',
    18344271: 'Laranjja Mecannica',

    49128587: 'TORRESMO COM PINGA',
    528730: 'Gremiomaniasm',
    18421230: 'Gig@ntte',
    36359: 'KillerColorado',
    
}

In [3]:
# Lista com todos os dados que você passou
dados_torneio = [
    # Grupo I
    ("Grupo I", 20696550),
    ("Grupo I", 44810918),
    ("Grupo I", 44574236),    
    ("Grupo I", 13707047),    
    # Grupo J
    ("Grupo J", 47543456),
    ("Grupo J", 18661583),
    ("Grupo J", 1273719),
    ("Grupo J", 479510),
    # Grupo K
    ("Grupo K", 3246608),
    ("Grupo K", 50158297),
    ("Grupo K", 13951133),
    ("Grupo K", 18344271),
    # Grupo L
    ("Grupo L", 49128587),
    ("Grupo L", 528730),
    ("Grupo L", 18421230),
    ("Grupo L", 36359),
]

# Criar DataFrame base
df_torneio = pd.DataFrame(dados_torneio, columns=["Grupo", "ID do Time"])

# Adicionar Nome do Time usando o dicionário
df_torneio["Nome do Time"] = df_torneio["ID do Time"].map(nomes_por_id)

# Adicionar ID no Grupo
df_torneio["ID no Grupo"] = df_torneio.groupby("Grupo").cumcount() + 1
df_torneio["ID no Grupo"] = df_torneio["ID no Grupo"].astype(str) + "_" + df_torneio["Grupo"].str[-1]

# Reorganizar colunas
df_torneio = df_torneio[["Grupo", "ID do Time", "Nome do Time", "ID no Grupo"]]

df_liberta_grupo_I = df_torneio[df_torneio["Grupo"] == "Grupo I"]
df_liberta_grupo_J = df_torneio[df_torneio["Grupo"] == "Grupo J"]
df_liberta_grupo_K = df_torneio[df_torneio["Grupo"] == "Grupo K"]
df_liberta_grupo_L = df_torneio[df_torneio["Grupo"] == "Grupo L"]

# Lista de grupos
grupos = {
    "Grupo A": df_liberta_grupo_I,
    "Grupo B": df_liberta_grupo_J,
    "Grupo C": df_liberta_grupo_K,
    "Grupo D": df_liberta_grupo_L,
}

In [4]:
display(df_liberta_grupo_I)

     Grupo  ID do Time               Nome do Time ID no Grupo
0  Grupo I    20696550              Dom Camillo68         1_I
1  Grupo I    44810918                  lsauer fc         2_I
2  Grupo I    44574236  Analove10 ITAQUI GRANDE!!         3_I
3  Grupo I    13707047            Super Vasco f.c         4_I

### Definição dos Confrontos das 6 Rodadas da Fase 2 da Libertadores (Rodada 7 A 12)

In [5]:
# Rodada 1 - Fase 2 Libertadores (Equivalente a &º Rodada do Campeonato Brasileiro)
 #     1: [(1,2), (3,4)],
confrontos_1a_rodada = [
    # Grupo I
    ("Grupo I", "1_I", "2_I"),
    ("Grupo I", "3_I", "4_I"),

    # Grupo J
    ("Grupo J", "1_J", "2_J"),
    ("Grupo J", "3_J", "4_J"),

    # Grupo K
    ("Grupo K", "1_K", "2_K"),
    ("Grupo K", "3_K", "4_K"),

    # Grupo L
    ("Grupo L", "1_L", "2_L"),
    ("Grupo L", "3_L", "4_L")
]

# Rodada 2 - Fase 2 Libertadores (Equivalente a 8º Rodada do Campeonato Brasileiro)
#     2: [(2,3), (4,1)],
confrontos_2a_rodada = [
    # Grupo I
    ("Grupo I", "2_I", "3_I"),
    ("Grupo I", "4_I", "1_I"),

    # Grupo J
    ("Grupo J", "2_J", "3_J"),
    ("Grupo J", "4_J", "1_J"),

    # Grupo K
    ("Grupo K", "2_K", "3_K"),
    ("Grupo K", "4_K", "1_K"),

    # Grupo L
    ("Grupo L", "2_L", "3_L"),
    ("Grupo L", "4_L", "1_L")
]

# Rodada 3 - Fase 2 Libertadores (Equivalente a 9º Rodada do Campeonato Brasileiro)
#     3: [(1,3), (4,2)],
confrontos_3a_rodada = [
    # Grupo I
    ("Grupo I", "1_I", "3_I"),
    ("Grupo I", "4_I", "2_I"),

    # Grupo J
    ("Grupo J", "1_J", "3_J"),
    ("Grupo J", "4_J", "2_J"),

    # Grupo K
    ("Grupo K", "1_K", "3_K"),
    ("Grupo K", "4_K", "2_K"),

    # Grupo L
    ("Grupo L", "1_L", "3_L"),
    ("Grupo L", "4_L", "2_L")
]

# Rodada 4 - Fase 2 Libertadores (Equivalente a 10º Rodada do Campeonato Brasileiro)
#     4: [(2,1), (4,3)],
confrontos_4a_rodada = [
    # Grupo I
    ("Grupo I", "2_I", "1_I"),
    ("Grupo I", "4_I", "3_I"),

    # Grupo J
    ("Grupo J", "2_J", "1_J"),
    ("Grupo J", "4_J", "3_J"),

    # Grupo K
    ("Grupo K", "2_K", "1_K"),
    ("Grupo K", "4_K", "3_K"),

    # Grupo L
    ("Grupo L", "2_L", "1_L"),
    ("Grupo L", "4_L", "3_L")
]

# Rodada 5 - Fase 2 Libertadores (Equivalente a 11º Rodada do Campeonato Brasileiro)
#     5: [(3,2), (1,4)],
confrontos_5a_rodada = [
    # Grupo I
    ("Grupo I", "3_I", "2_I"),
    ("Grupo I", "1_I", "4_I"),

    # Grupo J
    ("Grupo J", "3_J", "2_J"),
    ("Grupo J", "1_J", "4_J"),

    # Grupo K
    ("Grupo K", "3_K", "2_K"),
    ("Grupo K", "1_K", "4_K"),

    # Grupo L
    ("Grupo L", "3_L", "2_L"),
    ("Grupo L", "1_L", "4_L")
]

# Rodada 6 - Fase 2 Libertadores (Equivalente a 12º Rodada do Campeonato Brasileiro)
 #     6: [(3,1), (2,4)],
confrontos_6a_rodada = [
    # Grupo I
    ("Grupo I", "3_I", "1_I"),
    ("Grupo I", "2_I", "4_I"),

    # Grupo J
    ("Grupo J", "3_J", "1_J"),
    ("Grupo J", "2_J", "4_J"),

    # Grupo K
    ("Grupo K", "3_K", "1_K"),
    ("Grupo K", "2_K", "4_K"),

    # Grupo L
    ("Grupo L", "3_L", "1_L"),
    ("Grupo L", "2_L", "4_L")
]

In [6]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])

# Junta com df_torneio para buscar dados dos mandantes
df_mandantes = df_torneio.rename(columns={
    "ID no Grupo": "Mandante_ID",
    "Nome do Time": "Mandante_Nome",
    "ID do Time": "Mandante_ID_Time"
})[["Grupo", "Mandante_ID", "Mandante_Nome", "Mandante_ID_Time"]]

# Junta com df_torneio para buscar dados dos visitantes
df_visitantes = df_torneio.rename(columns={
    "ID no Grupo": "Visitante_ID",
    "Nome do Time": "Visitante_Nome",
    "ID do Time": "Visitante_ID_Time"    
})[["Grupo", "Visitante_ID", "Visitante_Nome", "Visitante_ID_Time"]]

In [7]:
# df_confrontos

In [8]:
# Transformar em DataFrame
df_confrontos = pd.DataFrame(confrontos_1a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos["Rodada"] = 1  # <<< ADICIONAR ESTA LINHA
df_rodada_1 = df_confrontos.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_1 = df_rodada_1.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Transformar em DataFrame
df_confrontos_2 = pd.DataFrame(confrontos_2a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_2["Rodada"] = 2
df_rodada_2 = df_confrontos_2.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_2 = df_rodada_2.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Transformar em DataFrame
df_confrontos_3 = pd.DataFrame(confrontos_3a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_3["Rodada"] = 3
df_rodada_3 = df_confrontos_3.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_3 = df_rodada_3.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Criar DataFrame da 4ª rodada
df_confrontos_4 = pd.DataFrame(confrontos_4a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_4["Rodada"] = 4
df_rodada_4 = df_confrontos_4.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_4 = df_rodada_4.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Quinta rodada
df_confrontos_5 = pd.DataFrame(confrontos_5a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_5["Rodada"] = 5
df_rodada_5 = df_confrontos_5.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_5 = df_rodada_5.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

# Sexta rodada
df_confrontos_6 = pd.DataFrame(confrontos_6a_rodada, columns=["Grupo", "Mandante_ID", "Visitante_ID"])
df_confrontos_6["Rodada"] = 6
df_rodada_6 = df_confrontos_6.merge(df_mandantes, on=["Grupo", "Mandante_ID"])
df_rodada_6 = df_rodada_6.merge(df_visitantes, on=["Grupo", "Visitante_ID"])

In [9]:
df_rodadas = pd.concat([
    df_rodada_1,
    df_rodada_2,
    df_rodada_3,
    df_rodada_4,
    df_rodada_5,
    df_rodada_6
], ignore_index=True)

# Ajustar a numeração da rodada para refletir as rodadas do Cartola (Rodada 7 até 12)
df_rodadas["Rodada"] = df_rodadas["Rodada"] + 6  # Ex: 1 -> 7, 2 -> 8, ..., 6 -> 12

df_rodadas.to_excel("confrontos_fase_1_libertadores.xlsx", index=False)

# Exibir os confrontos da fase 1
display(df_rodadas.head(8))

,Grupo,Mandante_ID,Visitante_ID,Rodada,Mandante_Nome,Mandante_ID_Time,Visitante_Nome,Visitante_ID_Time
0,Grupo I,1_I,2_I,7,Dom Camillo68,20696550,lsauer fc,44810918
1,Grupo I,3_I,4_I,7,Analove10 ITAQUI GRANDE!!,44574236,Super Vasco f.c,13707047
2,Grupo J,1_J,2_J,7,Tabajara de Inhaua FC2,47543456,pura bucha /botafogo,18661583
3,Grupo J,3_J,4_J,7,Texas Club 2025,1273719,TEAM LOPES 99,479510
4,Grupo K,1_K,2_K,7,Real SCI,3246608,Lá do Itaqui,50158297
5,Grupo K,3_K,4_K,7,KING LEONN,13951133,Laranjja Mecannica,18344271
6,Grupo L,1_L,2_L,7,TORRESMO COM PINGA,49128587,Gremiomaniasm,528730
7,Grupo L,3_L,4_L,7,Gig@ntte,18421230,KillerColorado,36359

In [10]:
# Criar lista de dicionários no formato desejado
confrontos_js_fase_2 = []

for _, row in df_rodadas.iterrows():
    confronto = {
        "grupo": row["Grupo"],
        "rodada": int(row["Rodada"]),
        "mandante": {
            "id": int(row["Mandante_ID_Time"]),
            "nome": row["Mandante_Nome"],
            # "clube": row["Mandante_Clube"],
            # "participante": row["Mandante_Participante"]
        },
        "visitante": {
            "id": int(row["Visitante_ID_Time"]),
            "nome": row["Visitante_Nome"],
            # "clube": row["Visitante_Clube"],
            # "participante": row["Visitante_Participante"]
        }
    }
    confrontos_js_fase_2.append(confronto)

# Converter para JSON formatado
json_str = json.dumps(confrontos_js_fase_2, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variável global
with open("confrontos_fase2_libertadores.js", "w", encoding="utf-8") as f:
    f.write("const confrontosFase2 = ")
    f.write(json_str)
    f.write(";")

In [11]:
def exibir_confrontos(df_rodadas, rodada=None, grupo=None):
    """
    Filtra e exibe os confrontos por rodada e/ou grupo.
    
    Parâmetros:
    - df_rodadas: DataFrame com todos os confrontos
    - rodada: número da rodada (int ou None para todas)
    - grupo: nome do grupo (str ou None para todos)
    
    Retorna:
    - DataFrame filtrado com as colunas relevantes
    """
    colunas = ["Rodada", "Grupo", "Mandante_Nome", "Visitante_Nome"]
    df_filtrado = df_rodadas.copy()

    df_filtrado["Rodada"] = df_filtrado["Rodada"].astype(str) + "ª Rodada"    

    if rodada is not None:
        df_filtrado = df_filtrado[df_filtrado["Rodada"] == rodada]

    if grupo is not None:
        df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

    return df_filtrado[colunas].sort_values(by=["Grupo", "Rodada"])

In [12]:
# Exibir todos os confrontos do Grupo C
display(exibir_confrontos(df_rodadas, grupo="Grupo L").head(20))

        Rodada    Grupo       Mandante_Nome      Visitante_Nome
30  10ª Rodada  Grupo L       Gremiomaniasm  TORRESMO COM PINGA
31  10ª Rodada  Grupo L      KillerColorado            Gig@ntte
38  11ª Rodada  Grupo L            Gig@ntte       Gremiomaniasm
39  11ª Rodada  Grupo L  TORRESMO COM PINGA      KillerColorado
46  12ª Rodada  Grupo L            Gig@ntte  TORRESMO COM PINGA
47  12ª Rodada  Grupo L       Gremiomaniasm      KillerColorado
6    7ª Rodada  Grupo L  TORRESMO COM PINGA       Gremiomaniasm
7    7ª Rodada  Grupo L            Gig@ntte      KillerColorado
14   8ª Rodada  Grupo L       Gremiomaniasm            Gig@ntte
15   8ª Rodada  Grupo L      KillerColorado  TORRESMO COM PINGA
22   9ª Rodada  Grupo L  TORRESMO COM PINGA            Gig@ntte
23   9ª Rodada  Grupo L      KillerColorado       Gremiomaniasm

In [13]:
def campeonato_comecou(api, ids_times):
    """Verifica se o campeonato já começou observando a pontuação na 1ª rodada."""
    for time_id in ids_times.values():
        try:
            pontuacao = api.time(time_id=time_id, rodada=7).ultima_pontuacao
            if pontuacao is not None:
                return True
        except cartolafc.errors.CartolaFCError:
            continue
    return False

def obter_pontuacao_por_rodada(api, time_id, rodada_atual):
    """Obtém a pontuação do time em cada rodada até a rodada atual."""
    pontuacoes = {}
    for rodada in range(7, rodada_atual):
        try:
            time_rodada = api.time(time_id=time_id, rodada=rodada)
            pontuacoes[rodada] = time_rodada.ultima_pontuacao
        except cartolafc.errors.CartolaFCError as e:
            print(f"Erro ao acessar pontuação da rodada {rodada} para o time {time_id}: {e}")
            pontuacoes[rodada] = None
    return pontuacoes

def gerar_df_pontuacoes(api, ids_times):
    rodada_atual = api.mercado().rodada_atual
    total_rodadas = 6

    if not campeonato_comecou(api, ids_times):
        print("📌 O campeonato ainda não começou. Criando estrutura com placeholders.")
        df = pd.DataFrame(index=ids_times.keys(), columns=[f'Rodada {i}' for i in range(7, total_rodadas + 1)])
        df[:] = 0
    else:
        df = pd.DataFrame()
        for nome, time_id in ids_times.items():
            pontuacoes = obter_pontuacao_por_rodada(api, time_id, rodada_atual)
            df[nome] = pd.Series(pontuacoes)
        df = df.transpose()
        df.columns = [f'Rodada {i}' for i in range(7, rodada_atual)]
        df.loc['Lider_Rodada'] = df.idxmax()
    
    return df

In [14]:
ids_times = {v: k for k, v in nomes_por_id.items()}

df_pontuacoes = gerar_df_pontuacoes(api, ids_times)
display(df_pontuacoes.T)

,Dom Camillo68,lsauer fc,Analove10 ITAQUI GRANDE!!,Super Vasco f.c,Tabajara de Inhaua FC2,pura bucha /botafogo,Texas Club 2025,TEAM LOPES 99,Real SCI,Lá do Itaqui,KING LEONN,Laranjja Mecannica,TORRESMO COM PINGA,Gremiomaniasm,Gig@ntte,KillerColorado,Lider_Rodada
Rodada 7,119.89,87.71,106.49,96.39,113.89,98.79,98.71,127.76,94.34,90.11,87.66,79.66,96.69,93.74,90.36,95.51,TEAM LOPES 99
Rodada 8,93.04,118.45,135.19,121.94,135.49,76.34,109.15,139.40,108.45,141.69,98.45,125.15,106.65,73.51,98.15,89.29,Lá do Itaqui
Rodada 9,68.35,69.15,74.32,73.75,56.87,81.70,83.90,78.32,60.57,75.22,60.42,54.72,74.25,64.00,65.42,74.35,Texas Club 2025
Rodada 10,64.50,57.17,79.87,76.97,54.07,68.67,73.67,54.27,50.37,18.35,40.77,44.37,73.57,53.37,53.97,67.27,Analove10 ITAQUI GRANDE!!
Rodada 11,123.92,118.31,105.54,124.47,115.77,72.16,110.51,84.74,104.47,40.93,79.91,76.01,120.27,97.81,102.86,76.58,Super Vasco f.c
Rodada 12,40.74,65.81,69.91,62.76,63.56,73.66,69.26,59.48,89.61,66.84,71.21,54.09,58.46,69.30,44.46,39.24,Real SCI

In [15]:
# def classificacao_por_grupo(df_rodadas, df_pontuacoes):
#     """
#     Classificação dos grupos com base nos confrontos e nas pontuações do Cartola.

#     Retorna:
#     - df_resultado: classificação geral
#     - df_resultado_por_grupo: dicionário com classificação separada por grupo
#     """
#     df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
#     estatisticas = {}

#     for _, confronto in df_rodadas.iterrows():
#         rodada = confronto["Rodada"]
#         mandante = confronto["Mandante_Nome"]
#         visitante = confronto["Visitante_Nome"]
#         grupo = confronto["Grupo"]
#         coluna_rodada = f"Rodada {rodada}"

#         if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
#             continue
#         if coluna_rodada not in df_pontuacoes_times.columns:
#             continue

#         pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
#         pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

#         if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
#             continue

#         for time in [mandante, visitante]:
#             if grupo not in estatisticas:
#                 estatisticas[grupo] = {}
#             if time not in estatisticas[grupo]:
#                 estatisticas[grupo][time] = {
#                     "Pontos": 0, "Vitórias": 0, "Empates": 0, "Derrotas": 0,
#                     "Total_Cartola": 0, "Cartola_Sofrido": 0
#                 }

#         # Atualizar estatísticas do jogo
#         estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
#         estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

#         estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
#         estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

#         if pontos_mandante > pontos_visitante:
#             estatisticas[grupo][mandante]["Pontos"] += 3
#             estatisticas[grupo][mandante]["Vitórias"] += 1
#             estatisticas[grupo][visitante]["Derrotas"] += 1
#         elif pontos_mandante < pontos_visitante:
#             estatisticas[grupo][visitante]["Pontos"] += 3
#             estatisticas[grupo][visitante]["Vitórias"] += 1
#             estatisticas[grupo][mandante]["Derrotas"] += 1
#         else:
#             estatisticas[grupo][mandante]["Pontos"] += 1
#             estatisticas[grupo][visitante]["Pontos"] += 1
#             estatisticas[grupo][mandante]["Empates"] += 1
#             estatisticas[grupo][visitante]["Empates"] += 1

#     # Montar DataFrame final
#     df_resultado = pd.concat([
#         pd.DataFrame({
#             "Grupo": grupo,
#             "Nome do Time": list(times.keys()),
#             "Pontos": [stats["Pontos"] for stats in times.values()],
#             "Vitórias": [stats["Vitórias"] for stats in times.values()],
#             "Empates": [stats["Empates"] for stats in times.values()],
#             "Derrotas": [stats["Derrotas"] for stats in times.values()],
#             "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
#             "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
#             "Saldo Cartola": [
#             stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
#             ]
#         })
#         for grupo, times in estatisticas.items()
#     ], ignore_index=True)

#     df_resultado = df_resultado.sort_values(
#         by=["Grupo", "Pontos", "Vitórias", "Total Cartola", "Saldo Cartola"],
#         ascending=[True, False, False, False, False]
#     )

#     df_resultado["Posição"] = df_resultado.groupby("Grupo")\
#     .cumcount() + 1

#     df_resultado_por_grupo = {
#         grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
#     }

#     return df_resultado, df_resultado_por_grupo

In [16]:
def classificacao_por_grupo(df_rodadas, df_pontuacoes, total_fase1_por_time):
    """
    Classificação dos grupos com base nos confrontos e nas pontuações do Cartola (Fase 2),
    somando o total da Fase 1 para compor o 'Total Cartola'.

    Parâmetros:
    - df_rodadas: DataFrame com os confrontos e grupos
    - df_pontuacoes: DataFrame com as pontuações por rodada (Fase 2)
    - total_fase1_por_time: dict ou Series com total da Fase 1 por time

    Retorna:
    - df_resultado: classificação geral
    - df_resultado_por_grupo: dicionário com classificação separada por grupo
    """
    df_pontuacoes_times = df_pontuacoes.drop(index='Lider_Rodada', errors='ignore')
    estatisticas = {}

    for _, confronto in df_rodadas.iterrows():
        rodada = confronto["Rodada"]
        mandante = confronto["Mandante_Nome"]
        visitante = confronto["Visitante_Nome"]
        grupo = confronto["Grupo"]
        coluna_rodada = f"Rodada {rodada}"

        if mandante not in df_pontuacoes_times.index or visitante not in df_pontuacoes_times.index:
            continue
        if coluna_rodada not in df_pontuacoes_times.columns:
            continue

        pontos_mandante = df_pontuacoes_times.at[mandante, coluna_rodada]
        pontos_visitante = df_pontuacoes_times.at[visitante, coluna_rodada]

        if pd.isnull(pontos_mandante) or pd.isnull(pontos_visitante):
            continue

        for time in [mandante, visitante]:
            if grupo not in estatisticas:
                estatisticas[grupo] = {}
            if time not in estatisticas[grupo]:
                estatisticas[grupo][time] = {
                    "Pontos": 0, "Vitórias": 0, "Empates": 0, "Derrotas": 0,
                    "Total_Cartola": total_fase1_por_time.get(time, 0),  # soma base da Fase 1
                    "Cartola_Sofrido": 0
                }

        # Atualizar estatísticas do jogo
        estatisticas[grupo][mandante]["Total_Cartola"] += pontos_mandante
        estatisticas[grupo][mandante]["Cartola_Sofrido"] += pontos_visitante

        estatisticas[grupo][visitante]["Total_Cartola"] += pontos_visitante
        estatisticas[grupo][visitante]["Cartola_Sofrido"] += pontos_mandante

        if pontos_mandante > pontos_visitante:
            estatisticas[grupo][mandante]["Pontos"] += 3
            estatisticas[grupo][mandante]["Vitórias"] += 1
            estatisticas[grupo][visitante]["Derrotas"] += 1
        elif pontos_mandante < pontos_visitante:
            estatisticas[grupo][visitante]["Pontos"] += 3
            estatisticas[grupo][visitante]["Vitórias"] += 1
            estatisticas[grupo][mandante]["Derrotas"] += 1
        else:
            estatisticas[grupo][mandante]["Pontos"] += 1
            estatisticas[grupo][visitante]["Pontos"] += 1
            estatisticas[grupo][mandante]["Empates"] += 1
            estatisticas[grupo][visitante]["Empates"] += 1

    df_resultado = pd.concat([
        pd.DataFrame({
            "Grupo": grupo,
            "Nome do Time": list(times.keys()),
            "Pontos": [stats["Pontos"] for stats in times.values()],
            "Vitórias": [stats["Vitórias"] for stats in times.values()],
            "Empates": [stats["Empates"] for stats in times.values()],
            "Derrotas": [stats["Derrotas"] for stats in times.values()],
            "Total Cartola": [stats["Total_Cartola"] for stats in times.values()],
            "Cartola Sofrido": [stats["Cartola_Sofrido"] for stats in times.values()],
            "Saldo Cartola": [
                stats["Total_Cartola"] - stats["Cartola_Sofrido"] for stats in times.values()
            ]
        }) for grupo, times in estatisticas.items()
    ], ignore_index=True)

    df_resultado = df_resultado.sort_values(
        by=["Grupo", "Pontos", "Vitórias", "Total Cartola", "Saldo Cartola"],
        ascending=[True, False, False, False, False]
    )

    df_resultado["Posição"] = df_resultado.groupby("Grupo").cumcount() + 1

    df_resultado_por_grupo = {
        grupo: df_resultado[df_resultado["Grupo"] == grupo] for grupo in df_resultado["Grupo"].unique()
    }

    return df_resultado, df_resultado_por_grupo

In [17]:
df_fase1 = pd.read_excel("classificacao_por_grupo_fase_1.xlsx", sheet_name=None)
df_total_fase1 = pd.concat(df_fase1.values())
total_fase1_por_time = df_total_fase1.set_index("Nome do Time")["Total Cartola"].to_dict()

In [18]:
# Gerar a classificação da fase 2
# df_resultado, df_resultado_por_grupo = classificacao_por_grupo(df_rodadas, df_pontuacoes)
df_resultado, df_resultado_por_grupo = classificacao_por_grupo(df_rodadas, df_pontuacoes, total_fase1_por_time)


# Salvar cada grupo em uma aba do Excel
with pd.ExcelWriter("classificacao_por_grupo_fase_2.xlsx") as writer:
    for grupo, df in df_resultado_por_grupo.items():
        df.to_excel(writer, sheet_name=grupo, index=False)

# Exibir a classificação geral
df_resultado_grupo_I = df_resultado[df_resultado["Grupo"] == "Grupo I"]
df_resultado_grupo_J = df_resultado[df_resultado["Grupo"] == "Grupo J"]
df_resultado_grupo_K = df_resultado[df_resultado["Grupo"] == "Grupo K"]
df_resultado_grupo_L = df_resultado[df_resultado["Grupo"] == "Grupo L"]

display(df_resultado_grupo_I, df_resultado_grupo_J, df_resultado_grupo_K, df_resultado_grupo_L)

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
2,Grupo I,Analove10 ITAQUI GRANDE!!,15,5,0,1,1097.63,519.21,578.42,1
3,Grupo I,Super Vasco f.c,9,3,0,3,1062.03,538.28,523.75,2
0,Grupo I,Dom Camillo68,6,2,0,4,1031.32,535.52,495.80,3
1,Grupo I,lsauer fc,6,2,0,4,1030.15,561.63,468.52,4

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
6,Grupo J,Texas Club 2025,15,5,0,1,1046.83,450.96,595.87,1
5,Grupo J,pura bucha /botafogo,9,3,0,3,938.30,525.42,412.88,2
7,Grupo J,TEAM LOPES 99,6,2,0,4,1062.06,579.00,483.06,3
4,Grupo J,Tabajara de Inhaua FC2,6,2,0,4,1061.77,544.76,517.01,4

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
8,Grupo K,Real SCI,15,5,0,1,1059.95,441.25,618.70,1
9,Grupo K,Lá do Itaqui,9,3,0,3,940.57,431.88,508.69,2
10,Grupo K,KING LEONN,6,2,0,4,952.11,456.83,495.28,3
11,Grupo K,Laranjja Mecannica,6,2,0,4,877.40,483.41,393.99,4

,Grupo,Nome do Time,Pontos,Vitórias,Empates,Derrotas,Total Cartola,Cartola Sofrido,Saldo Cartola,Posição
12,Grupo L,TORRESMO COM PINGA,18,6,0,0,1044.03,422.86,621.17,1
15,Grupo L,KillerColorado,9,3,0,3,911.67,504.55,407.12,2
14,Grupo L,Gig@ntte,6,2,0,4,960.20,466.81,493.39,3
13,Grupo L,Gremiomaniasm,3,1,0,5,952.35,484.86,467.49,4

In [19]:
# Criar estrutura em formato de dicionário para JSON/JS
classificacao_js_fase_2 = {}

for grupo, df in df_resultado_por_grupo.items():
    classificacao_js_fase_2[grupo] = []
    for _, row in df.iterrows():
        classificacao_js_fase_2[grupo].append({
            "posicao": int(row["Posição"]),
            "nome": row["Nome do Time"],
            "pontos": int(row["Pontos"]),
            "vitorias": int(row["Vitórias"]),
            "empates": int(row["Empates"]),
            "derrotas": int(row["Derrotas"]),
            "totalCartola": float(row["Total Cartola"]),
            "cartolaSofrido": float(row["Cartola Sofrido"]),
            "saldoCartola": float(row["Saldo Cartola"])
        })


# Converter para JSON formatado
json_str = json.dumps(classificacao_js_fase_2, indent=2, ensure_ascii=False)

# Salvar como arquivo JS com uma variável global
with open("classificacao_por_grupo_fase_2.js", "w", encoding="utf-8") as f:
    f.write("const classificacaoFase2 = ")
    f.write(json_str)
    f.write(";")

In [20]:
def exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada, grupo=None):
    """
    Exibe os resultados de uma rodada específica, com pontuação e dados dos times.
    """

    if rodada not in df_rodadas["Rodada"].values:
        return pd.DataFrame([{
            "Grupo": grupo or "-",
            "Rodada": rodada,
            "Mandante_Nome": "-",          
            "Mandante_Pontos": "-",
            "Visitante_Nome": "-",           
            "Visitante_Pontos": "-",
        }])

    df_filtrado = df_rodadas[df_rodadas["Rodada"] == rodada]
    if grupo:
        df_filtrado = df_filtrado[df_filtrado["Grupo"] == grupo]

    resultados = []

    for _, row in df_filtrado.iterrows():
        grupo_ = row["Grupo"]
        mandante = row["Mandante_Nome"]
        visitante = row["Visitante_Nome"]

        pontos_mandante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(mandante, None)
        pontos_visitante = df_pontuacoes.get(f"Rodada {rodada}", {}).get(visitante, None)

        resultados.append({
            "Grupo": grupo_,
            "Rodada": rodada,
            "Mandante_Nome": mandante,
            "Mandante_Pontos": pontos_mandante,
            "Visitante_Nome": visitante,
            "Visitante_Pontos": pontos_visitante
        })

    return pd.DataFrame(resultados)

In [21]:
# Exibir resultados da 2ª rodada
df_resultados_rodada_7 = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=7)

# Exibir apenas os resultados do Grupo B na 1ª rodada
df_resultados_grupo_I = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=7, grupo="Grupo I")

# Exibir
# display(df_resultados_rodada2)
display(df_resultados_rodada_7)

,Grupo,Rodada,Mandante_Nome,Mandante_Pontos,Visitante_Nome,Visitante_Pontos
0,Grupo I,7,Dom Camillo68,119.89,lsauer fc,87.71
1,Grupo I,7,Analove10 ITAQUI GRANDE!!,106.49,Super Vasco f.c,96.39
2,Grupo J,7,Tabajara de Inhaua FC2,113.89,pura bucha /botafogo,98.79
3,Grupo J,7,Texas Club 2025,98.71,TEAM LOPES 99,127.76
4,Grupo K,7,Real SCI,94.34,Lá do Itaqui,90.11
5,Grupo K,7,KING LEONN,87.66,Laranjja Mecannica,79.66
6,Grupo L,7,TORRESMO COM PINGA,96.69,Gremiomaniasm,93.74
7,Grupo L,7,Gig@ntte,90.36,KillerColorado,95.51

In [22]:
# Criar arquivo com uma aba para cada rodada contendo os resultados detalhados
from pathlib import Path

# Caminho do arquivo de saída
caminho_resultados = "resultados_fase_2.xlsx"

# Descobrir as rodadas únicas no DataFrame
rodadas_disponiveis = sorted(df_rodadas["Rodada"].unique())

with pd.ExcelWriter(caminho_resultados) as writer:
    for rodada in rodadas_disponiveis:
        df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
        nome_aba = f"Rodada {rodada}"
        df_resultados.to_excel(writer, sheet_name=nome_aba, index=False)

print(f"Arquivo salvo com sucesso: {Path(caminho_resultados).resolve()}")

Arquivo salvo com sucesso: C:\Users\ferna\Projetos\GitHub\cartola_fbc\libertadores\datasets_liberta\resultados_fase_2.xlsx

In [23]:
resultados_js = []

for rodada in sorted(df_rodadas["Rodada"].unique()):
    df_resultados = exibir_resultados_rodada(df_rodadas, df_pontuacoes, rodada=rodada)
    
    for _, row in df_resultados.iterrows():
        resultado = {
            "grupo": row["Grupo"],
            "rodada": int(rodada),
            "mandante": {
                "nome": row["Mandante_Nome"],
                "pontos": float(row["Mandante_Pontos"]) if row["Mandante_Pontos"] is not None else None
            },
            "visitante": {
                "nome": row["Visitante_Nome"],
                "pontos": float(row["Visitante_Pontos"]) if row["Visitante_Pontos"] is not None else None
            },
            "vencedor": (
                "mandante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] > row["Visitante_Pontos"]
                else "visitante" if row["Mandante_Pontos"] is not None and row["Visitante_Pontos"] is not None and row["Mandante_Pontos"] < row["Visitante_Pontos"]
                else "empate" if row["Mandante_Pontos"] == row["Visitante_Pontos"] and row["Mandante_Pontos"] is not None
                else "indefinido"
            )

        }
        resultados_js.append(resultado)

# Exportar para arquivo .js
import json

with open("resultados_fase_2.js", "w", encoding="utf-8") as f:
    f.write("const resultadosFase2 = ")
    f.write(json.dumps(resultados_js, indent=2, ensure_ascii=False))
    f.write(";")